<h1>Welcome to the Movies</h1>
<h2>Please search for your required Movie</h2>

<form action="/results" method="GET">
 <input type="text" placeholder="Movie Title" name="search">
 <button type="submit">Search!</button>
</form>
